* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}